html {
    background-color: green;
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

p {
    margin: 5px;
}

header {
    background-color: green;
    color: white   ;
    padding: 5px 0;
}

header h1 {
    font-size: 200%;
    text-align: center;
}

div {
    clear: both;
}

img {
    max-width: 400px;
    width: 100%;
    margin: 5px;
}
.leftimage {
    float: left;
}

.rightimage {
    float: right;
}

footer {
    clear: both;
    background-color: green;
    color: white   ;
    padding: 5px 0;
}


footer p {
    text-align: center;
    font-size: 80%;
}